@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

@media only screen and (max-width: 640px) {
  p.text-sm.sm\:text-base.truncate {
    -webkit-line-clamp: 1;
    max-width: 20vw;
  }
}

@media only screen and (min-width: 641px) and (max-width: 1023px) {
  p.text-sm.sm\:text-base.truncate {
    -webkit-line-clamp: 1;
    max-width: 20vw;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1080px) {
  p.text-sm.sm\:text-base.truncate {
    -webkit-line-clamp: 1;
    max-width: 40vw;
  }
}

@media only screen and (min-width: 1080px) and (max-width: 1152px) {
  p.text-sm.sm\:text-base.truncate {
    -webkit-line-clamp: 1;
    max-width: 45vw;
  }
}

@media only screen and (min-width: 1152px) and (max-width: 1359px) {
  p.text-sm.sm\:text-base.truncate {
    -webkit-line-clamp: 1;
    max-width: 50vw;
  }
}

@media only screen and (min-width: 1360px) and (max-width: 1471px) {
  p.text-sm.sm\:text-base.truncate {
    -webkit-line-clamp: 1;
    max-width: 55vw;
  }
}

@media only screen and (min-width: 1472px) and (max-width: 1600px) {
  p.text-sm.sm\:text-base.truncate {
    -webkit-line-clamp: 1;
    max-width: 60vw;
  }
}

@media only screen and (min-width: 1601px) and (max-width: 1919px) {
  p.text-sm.sm\:text-base.truncate {
    -webkit-line-clamp: 1;
    max-width: 65vw;
  }
}